@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}


body{
  font-family: 'Inter', sans-serif;
}

input[type="radio"]:checked {
  border-color: #1B4B66;
  background-color: green;
}

input[type="radio"]:focus {
  outline:none;
}